body {
  text-align: center;
  font-size: 1.3em;
}
.listase {
    margin-top: 40px;
    background: white;
}

.form-signin .form-signin-heading {
    color: #666;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.hservice1,.hservice2, .hvuelo1,.hvuelo2, .npass1,.npass2,.nvuelo1,.nvuelo2{
  max-width: 60px;
}
.tbdisabled {
    background: #eeeeee;
}
.nopad{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.icopanel > img {
    width: 110px;
}
.inpser {
    height: 33px;
    font-size: 1em;
    background: rgb(255, 255, 153);
}
textarea.inpser {

    background: rgb(255,204,102)!important;
}
#usuario > div > div {
    border: 1px solid #ddd;
}
#usuario{
  margin-bottom: 40px;
  height: 150px;
  text-align: left;
}
.row1{
  height: 130px;
}
input.inptext {
    height: 21px;
}
.tarifa{
    height: 342px;
    background: #eee;
    border: solid 1px #bfbfbf;
}

.modal-dialog.modal-lg {
    width: 800px;
}
.ttit{
    font-weight: bold;
    background: #eee;
}
.folio-res {
    float: right;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    height: 28px!important;
    width: 60%; 
    /* vertical-align: middle; */
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #023579;
    border-color: #357ebd;
    border-radius: 4px;
    padding-top: 3px;
}
/*------------------------------------*/
.hservice, .hvuelo, .nvuelo{
	width: 59px;
}
#riesgo{
	margin-left:5px!important;
}
#conf{
    background:white;
    padding-top:20px;
}
.tablamarar td{
    border:0px;
}
.right{
  text-align: right;
}
#primer .right {
  padding-top: 10px;
}
.no-padding 
{
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.contenedor {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.contenedor > div.col-xs-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mesano h3 {
  margin-top: 5px;
}
.inp {
  padding-left: 5px;
  padding-right: 5px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#sidebar-menu li{
  font-size: 15px;
  text-align: left;
}
.table td{
  padding: 0px; 
}
button.btn.btn-link {
  color: #2A3F54;
}
h5.mb-0{
  text-align:left;
}
#table6 table, #table3 table{
  width: 60%!important;
  margin: 0 auto 0!important;
}
input[type="number"]{
  text-align: center;
}